<h2><%= @competition.name %></h2>
<p>
  <%= @competition.location %><br>
  <%= @competition.sport %>
</p>

<section id='teams'>
  <% @competition.teams.each do |team| %>
    <section id='team-<%= team.id %>'>
      <%= team.nickname %>
      <%= team.hometown %>
    </section>
  <% end %>
</section>
